---
layout: page
title: Documenti
permalink: /documenti/
redirect_from:
  - /it/documents?catid=0&id=27
---

<h2>Press Kit</h2>

Qui potete trovare materiale informativo relativo all'AISF. I documenti sono scaricabili liberamente e possono essere utilizzati per pubblicizzare l'Associazione presso Università, Istituti di ricerca, ecc.

<div class="collection">
  <a href="https://drive.google.com/file/d/1MvvBdEfrkAJUPbWm7aULKVYEyK-7jbdH/view?usp=sharing" class="collection-item">Flyer AISF</a>
  <a href="https://drive.google.com/file/d/1oit9c9RRuonS0B54syB_qmrapjIuTItX/view?usp=sharing" class="collection-item">Flyer verticale AISF</a>
  <a href="https://drive.google.com/file/d/1JFLHtNyb2JqeQBeJ1sGMtbZ2akTTeQ9z/view?usp=sharing" class="collection-item">Poster AISF</a>
</div>

<h2>Statuto e Atto fondativo</h2>

Lo Statuto è il documento fondamentale dell'AISF. Ad esso fanno riferimento tutti i regolamenti, le decisioni e le azioni dell'Associazione.

{% include documenti_ufficiali.html documenti=site.data.documenti anno="statfond" %}


<h2> Regolamenti </h2>

{% include documenti_ufficiali.html documenti=site.data.documenti anno="2023" %}
<br/>
<h2>Verbali</h2>
I verbali delle Assemblee Generali e dei meeting del Comitato Esecutivo sono di pubblico dominio e liberamente consultabili.
{% include verbali.html verbali=site.data.verbali %}

<h2>Documenti ufficiali passati</h2>
{% include documenti_ufficiali.html documenti=site.data.documenti exclude="2023" %}

