<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- 
  codice per latex inline con $...$
  NB: per avere $ d'ora in poi bisogna usare \$
-->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script src="{{ root_url }}/js/bin/materialize.js"></script>


<script> // Slider
  $(document).ready(function(){
  $('.slider').slider({full_width: false});
  $('.collapsible').collapsible();
  });
</script>
<script> // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  $('.collapsible').collapsible();
</script>
<script>
  $(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
  });
</script>
<script>
  $(document).ready(function(){
      $('.carousel').carousel();
  });
</script>
{% for script in page.custom_js%}
<script src="/js/custom/{{page.custom_js}}.js"></script>
{% endfor %}
